.row {}
    .row:before, .row:after {content:' '; display:table;}
    .row:after {clear:both;}
    .row > .col {}
    .row > .col.-inline {display: inline-block;}
    .row > .col.-left {float:left;}
    .row > .col.-right {float:right;}
    .row > .col.-middle {overflow:hidden;}