.-change_box_model,
.-change_box_model:before,
.-change_box_model:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.row {}
    .row:before, .row:after {content:' '; display:table;}
    .row:after {clear:both;}
    .row > .col {}
    .row > .col.-inline {display: inline-block;}
    .row > .col.-left {float:left;}
    .row > .col.-right {float:right;}
    .row > .col.-middle {overflow:hidden;}