@import "normalize.css";
@import "opensans-regular.css";
@import "common.css";

html, body {font-family: 'OpenSansRegular', Arial, sans-serif; font-size: 16px; color: #0b0b0b;}

a {text-decoration: none; color: #2e3192; border-bottom: 1px solid #2e3192; border-bottom: 1px solid rgba(46, 49, 146, 0.4);}
    a:hover {text-decoration: none; color: #d40000; border-bottom: 1px solid #d40000; border-bottom: 1px solid rgba(212, 0, 0, 0.4);}

ul {margin: 0; padding: 0; list-style: none;}

.wrapper {width: 980px; margin: 0 auto; padding: 0 10px;}

.header {padding: 40px 0 40px 0;}
    .header__menu {font-size: 14px;}
        .header__menu ul {list-style: none; margin: 0; padding: 0 0 20px 0;}
            .header__menu ul li {display: inline-block; padding: 0 30px 0 0;}
                .header__menu ul li:last-child {padding: 0 0 0 0;}

.main {}
    .main ul li:before {content: '- ';}
    .main__inner {}
        .main__inner__article {width: 600px;}
            .main__inner__article__title {margin: 0 0 30px 0; padding: 0; font-size: 36px;}
            .main__inner__article__content {line-height: 26px;}
        .main__inner__chat {width: 340px; margin: 0 0 0 0;}
            .main__inner__chat.-bordered {border: 2px solid #2e3192;}
            .main__inner__chat__message_list__wrapper {padding: 0 0 10px 0;}
                .main__inner__chat__message_list__wrapper.-relative {position: relative;}
                .main__inner__chat__message_list__wrapper__dots {position: absolute; bottom: 0; left: auto; width: 100%; height: 20px; line-height: 20px; display: none; text-align: center;}
                    .main__inner__chat__message_list__wrapper__dots ul {list-style: none; margin: 0; padding: 0;}
                        .main__inner__chat__message_list__wrapper__dots ul li {display: inline-block; background: #2e3192; height: 5px; width: 5px; margin: 0 1px;}
                            .main__inner__chat__message_list__wrapper__dots ul li.-rounded {-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
                            .main__inner__chat__message_list__wrapper__dots ul li:before {content: '';}
                .main__inner__chat__message_list {padding: 0 15px;}
                    .main__inner__chat__message_list__item {margin: 15px 0; position: relative;}
                        .main__inner__chat__message_list__item + .main__inner__chat__message_list__item {margin-top: 0px;}
                            .main__inner__chat__message_list__item__user-name {margin: 0 0 10px 0;}
                            .main__inner__chat__message_list__item__user-message {border: 1px solid #9a9a9a; padding: 5px 9px; position: relative;}
                            .main__inner__chat__message_list__item__user-message.-rounded {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
                                .main__inner__chat__message_list__item__user-message:before {}
                                    .main__inner__chat__message_list__item__user-message.-arrowed:before {content: ''; border: 10px solid transparent; border-bottom: 10px solid #9a9a9a; position: absolute; top: -20px; left: 9px;}
                                    .main__inner__chat__message_list__item__user-message.-arrowed:after {content: ''; border: 9px solid transparent; border-bottom: 9px solid #fff; position: absolute; top: -18px; left: 10px;}
                                    .main__inner__chat__message_list__item__user-message.-imaged:before {content: ''; background: url(../i/arrow--gray.gif) #fff -2px 0px no-repeat; height: 13px; width: 20px; position: absolute; top: -13px; left: 9px;}
                                    .main__inner__chat__message_list__item.-outcome .main__inner__chat__message_list__item__user-message.-arrowed:after {content: ''; border: 9px solid transparent; border-bottom: 9px solid #2e3192; position: absolute; top: -18px; left: 280px;}
                                    .main__inner__chat__message_list__item.-outcome .main__inner__chat__message_list__item__user-message.-arrowed:before {content: ''; border: 10px solid transparent; border-bottom: 10px solid #2e3192; position: absolute; top: -20px; left: 280px;}
                                    .main__inner__chat__message_list__item.-outcome .main__inner__chat__message_list__item__user-message.-imaged:before {content: ''; background: url(../i/arrow--blue.gif) no-repeat; position: absolute; top: -15px; left: 278px; height: 15px; width: 29px;}
                        .main__inner__chat__message_list__item.-income {}
                        .main__inner__chat__message_list__item.-outcome {}
                            .main__inner__chat__message_list__item.-outcome .main__inner__chat__message_list__item__user-name {text-align: right;}
                            .main__inner__chat__message_list__item.-outcome .main__inner__chat__message_list__item__user-message {background: #2e3192; border: 1px solid #2e3192; color: #fff;}
                .main__inner__chat__message_form {padding: 20px 10px;}
                    .main__inner__chat__message_form.-blue {color: #fff; background: #2e3192;}
                        .main__inner__chat__message_form__form {}
                            .main__inner__chat__message_form__form__control {}
                                .main__inner__chat__message_form__form__control + .main__inner__chat__message_form__form__control {margin-top: 20px;}
                                .main__inner__chat__message_form__form__control__input {border: 1px solid #585aa8; color: #585aa8; width: 100%; padding: 2px 5px; font-size: 13px;}
                                    .main__inner__chat__message_form__form__control__input.-textarea {min-height: 100px; max-height: 100px; min-width: 100%; max-width: 100%;}
                                    .main__inner__chat__message_form__form__control__input.-rounded {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
                                .main__inner__chat__message_form__form__control__label {display: block; padding: 0 0 5px 0; font-size: 14px;}
                                .main__inner__chat__message_form__form__control__submit {background: #2e3192; border: 2px solid #585aa8; color: #585aa8; width: 100%; padding: 7px 5px;}
                                    .main__inner__chat__message_form__form__control__submit:hover {cursor: pointer; color: #fff; border: 2px solid #fff;}
                                    .main__inner__chat__message_form__form__control__submit.-rounded {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

.footer {padding: 20px 0 20px 0;}
    .footer__inner {}
        .footer__inner__menu {font-size: 14px;}
            .footer__inner__menu ul {list-style: none; margin: 0; padding: 0;}
                .footer__inner__menu ul li {display: inline-block; padding: 0 55px 0 0;}
                    .footer__inner__menu ul li:last-child {padding: 0 0 0 0;}